/*-------------------------------------------Style de la page-----------------------------------------------*/
body 
{
	background-color: #C9C9C9;		/* Gris */ 
	margin: 0px;

}
h1,h2,h3,h4,h5,h6,#connexion
{
	font-family: Calibri;
	font-weight: lighter;
}
h1
{
	font-size: 50px;		/* Noir */
	display: inline;
}
h2
{
	color: #2f5496;			/* Bleu */ 
	font-size: 45px;
}
h3
{
	color: #ecf0f1;			/* Blanc2 */ 
	font-size: 35px;
}
h4
{
	color: #000;			/* Blanc */ 
	font-size: 25px;
}
a:link
{
	text-decoration: none;
}
.erreur
{
	color: red;
}

/*-------------------------------------------index.php----------------------------------------------------*/

#index
{
	width: 100%;
	margin-top: 7%;
	width: 100%;
	min-width: 1000px;
}
#div_index_titre
{
	position: center;
	width: 50%;
	display: inline-block;
	text-align: center;
}
#div_index_separation
{
	display: inline-block;
	background-color: grey;
	width: 2px;
	border-radius: 2px;
	height: 100%;
	padding-bottom: 33%;
	vertical-align: top;
}
#div_index_connexion
{
	position: center;
	width: 42%;
	display: inline-block;
	padding-left: 7%;
	padding-top: 7%;
	vertical-align: top;
	min-width: 450px;
	border-right: black;
}
#logo_index
{
	height: 50%;
	width: 50%;
	vertical-align: center;
}
.form
{
	width: 60%;
	height: 30px;
	min-width:250px;
	min-height: 30px;
	font-size: 25px;
}
#input_connexion
{
	margin-top: 50px;
	background-color: #2f5496;		/*  Bleu */ 
	height: 50px;
	width: 160px;
	margin-right: 10%;
	font-size: 25px;
	border-radius: 10px;
}
#div_index_titre_phrase2
{
	margin-top: 0px;
	padding-bottom: 50px;
}


/*-------------------------------------------Menu.php-------------------------------------------------------*/

#menu
{
	background-color: #414141;		/* Gris foncé*/
	width: 20%;
	text-align: center;
	height: 100%;
	margin: top;
	vertical-align: top;
	display: inline-block;
	position: absolute;
}
#logo_menu
{
	width: 70%;
	padding-top: 8%;
	padding-bottom: 10%;
}
#div_menu_titre
{
	padding-bottom: 5%;
}
.div_lien
{
	background-color: #2f5496;		/* Bleu */ 
}

/*-------------------------------------------header.php-------------------------------------------------------*/

#header
{
	
	vertical-align: top;
	width: 75%;
	min-width: 50px;
	display: inline-block;
	margin-left: 20%;
}
#input_deconnexion
{
	background-color: #2f5496;		/* Bleu */ 
	height: 50px;
	width: 180px;
	font-size: 25px;
	border-radius: 10px;
	margin-top: 2%;
	float: right;
	margin-right: 2%;
}
#titre_header
{
	margin-top: 5%;
	display: inline-block;
	vertical-align: top;
	margin-left: 7%;
	margin-right: 0px;	
	min-width: 600px;
}

/*-------------------------------------------accueil.php-------------------------------------------------------*/

.div_valeur
{
	margin-left: 25%;
	background-color: #ecf0f1;		/* Blanc2 */ 
	margin-right: 5%;
	padding-top: 0.5%;
	padding-left:3%;
	padding-right: 3%;
	margin-top: 1%;
	overflow: auto;
	height: 65%;
	min-height: 100px;
}
#div_accueil_conteneur
{
	text-align: center;
}

.panneau
{
	background-color: #2f5496;		/* Bleu */ 
	width: 250px;
	min-height: 110px;
	display: inline-block;
	margin-bottom: 10px;
	margin-right: 10px;
	text-align: center;
}

/*-------------------------------------------historique.php----------------------------------------------------*/

.titre_form
{
	color: #2f5496;					/* Bleu */ 
	margin-left: 20%;
	display: inline-block;
}
#menu_deroulant
{
	display: inline-block;
	padding: 5px;
	font-size: 15px;
	margin-left: 10%;
}

#input_Voir
{
	margin-top: 50px;
	background-color: #2f5496;		/*  Bleu */ 
	height: 50px;
	color: #FFFFFF;
	width: 100px;
	margin-left: 70%;
	font-size: 25px;
	border-radius: 10px;
}
#date 
{
	display: inline-block;
	padding: 5px;
	font-size: 15px;
	margin-left: 9%;
}
#date1 
{
        display: inline-block;
        padding: 5px;
        font-size: 15px;
        margin-left: 3%;
}

.input_afficher
{
	background-color: #2f5496;		/*  Bleu */ 
	height: 40px;
	color: #FFFFFF;
	width: 180px;
	font-size: 25px;
	border-radius: 10px;
	font-size: 15px;
	margin-left: 10px;
}

/*-------------------------------------------View.php----------------------------------------------------*/

.tableau_historique
{
	background-color: black;		/* Noir */
	margin-bottom: 5%;
}
.tableau_historique  tr
{
	text-align: center;
	background-color: #FFF;			/*Blanc */
}
.tableau_historique td 
{
	width: 10%;
}
#table_info td
{
	width: 10%;
}

/*-------------------------------------------Fin du CSS-------------------------------------------------*/
